.table-row{
    list-style-type: none;
    display: flex;
    border-left: 1px solid #cbd5e1;
    border-right: 1px solid #cbd5e1;
    border-bottom: 1px solid #cbd5e1;
}
.table-cell {
    color: #1e293b;
    font-family: 'Roboto';
    font-size: 16px;
    margin-left: 32px;
    display: flex;
    align-items: center;
}

.name-column{
    width:33%;
}