.app-container{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container{
  width: 80%;
}

.heading{
  font-family: "Roboto";
  font-weight: bold;
  color: #1e293b;
  margin-top: 100px;
  margin-bottom: 32px;
}

.contact-form-container{
  display: flex;
}

@media screen and (max-width:575px) {
    .contact-form-container{
      flex-direction: column;
    }
}

.input{
  color: #1e293b;
  font-family: "Roboto";
  width: 28%;
  height: 50px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #d7dfe9;
  padding-left:16px ;
  margin-right: 15px;
  margin-bottom: 10px;
  outline: none;
}

@media screen and (max-width:575px){
  .input{
    width: 280px;
  }
}

.button{
  font-family: "Roboto";
  font-size: 14px;
  color: white;
  background-color: #0ea5e9;
  width: 10%;
  height: 50px;
  border-radius: 6px;
  border:none;
  cursor: pointer;
  margin-bottom: 10px;
}

@media screen and (max-width:575px) {
  .button{
    width:200px;
  }
  
}


.contacts-table{
  margin-top: 40px;
}

.table-header{
  list-style-type: none;
  display: flex;
  background-color: #f1f5f9;
  border: 1px solid #cbd5e1;
}

.table-header-cell{
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #334155;
  margin-left: 32px;
}

.name-column{
  width: 33%;
  border-right: none;
}

.separator{
  margin: 0;
  border: 1px solid #cbd5e1;
}
